<div class="card-divider">
  <%= t(".personal_information") %>
</div>
<div class="card-section">
  <div class="field">
    <%= form.text_field :last_name, placeholder: t(:last_name, scope: "placeholder") %>
  </div>

  <div class="field">
    <%= form.text_field :first_name, placeholder: t(:first_name, scope: "placeholder") %>
  </div>

  <div class="field">
    <%= form.text_field :birth_place, placeholder: t(:birth_place, scope: "placeholder") %>
  </div>

  <div class="field date">
    <%= form.date_field :birth_date, placeholder: t(:birth_date, scope: "placeholder") %>
  </div>
</div>

<div class="card-divider">
  <%= t(".documents_information") %>
</div>
<div class="card-section">
  <div class="field">
    <%= form.select :document_type, @form.document_types_for_select, prompt: true %>
  </div>

  <div class="field">
    <%= form.text_field :document_number, placeholder: t(:document_number, scope: "placeholder") %>
  </div>

  <div class="field">
    <%= form.select :residence_document_type, @form.residence_document_types_for_select, prompt: true %>
  </div>

  <div class="field">
    <%= form.check_box :city_resident %>
  </div>
</div>

<% if using_online? %>
  <div class="card-divider">
    <%= t(".document_scan") %>
  </div>
  <div class="card-section">
    <%= floating_help(1) do %>
      <div class="document_scan_help__intro">
        <h2><%= t("title", scope: "decidim.unique_identity.authorizations.form.document_scan_help") %></h2>
        <p><%= t("description", scope: "decidim.unique_identity.authorizations.form.document_scan_help") %></p>
      </div>
      <div class="document_scan_help__examples">
        <div class="document_scan_help__examples--good">
          <h3><%= t("good", scope: "decidim.unique_identity.authorizations.form.document_scan_help") %></h3>
          <p><%= t("good_explanation", scope: "decidim.unique_identity.authorizations.form.document_scan_help") %></p>
          <%= link_to image_url("decidim/unique_identity/document_scan_good.png"), target: "_blank" do %>
            <%= image_tag "decidim/unique_identity/document_scan_good.png" %>
          <% end %>
        </div>
        <div class="document_scan_help__examples--bad">
          <h3><%= t("bad", scope: "decidim.unique_identity.authorizations.form.document_scan_help") %></h3>
          <p><%= t("bad_explanation", scope: "decidim.unique_identity.authorizations.form.document_scan_help") %></p>
          <%= link_to image_url("decidim/unique_identity/document_scan_bad.png"), target: "_blank" do %>
            <%= image_tag "decidim/unique_identity/document_scan_good.png" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="field">
      <%= form.upload :verification_attachment %>
    </div>
  </div>
<% end %>

<%= form.hidden_field :verification_type, value: verification_type %>
